---
layout: splash
title: "钢铁小包"
lingual: zh
ref_id: home
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/header_image.jpg
  caption: "**GTXB**"
excerpt: "A cook, 一个做饭的人"
recent_posts:
  - excerpt: "最新发布"
# 3 recent posts
topics:
  - excerpt: "烹饪主题"
topics_row:
  - image_path: /assets/images/claypot-sausage-rice/teaser.jpg
    title: "煲仔饭"
    url: "/2025/05/30/claypot-claypot-rice-cn"
    excerpt: "先练习煮一锅白饭，之后，只需一口小砂锅，就可以变化出多种口味"
  - image_path: /assets/images/lacto-basics/teaser.jpg
    title: "乳酸发酵"
    url: "/2025/08/06/lacto-basics-cn"
    excerpt: "蔬菜加盐水，看不见的乳酸菌其实一直在我们周围"
  - image_path: /assets/images/cp-fold-dumpling1/teaser.jpg
    title: "中式面点"
    url: "/2024/07/16/cp-fold-dumpling1-cn"
    excerpt: "把面粉或米粉，变成好吃的！"
---

{% include feature_row id="recent_posts" type="center" %}

{% assign lingual_posts = site.posts | where: "lingual", page.lingual %}
<div class="feature__wrapper">
  {% for p in lingual_posts limit:3 %}
    {% include card image_path=p.header.teaser title=p.title url=p.url excerpt=p.excerpt %}
  {% endfor %}
</div>

{% include feature_row id="topics" type="center" %}
{% include feature_row id="topics_row" %}
