{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless logo_path == empty %}
          <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"></a>
        {% endunless %}
        <!-- site-title如果改动，不能直接注释整段，会影响width计算，进而priority plus出问题 -->
        <a class="site-title" href="{{ '/' | relative_url }}">
          {{ site.masthead_title | default: site.title }}
          {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
        </a>
        <!-- 虽然在jquery.greedy-navigation.js availableSpace减去了两个icon的宽度,但显示起来还是有点遮挡 -->
        <a class="mh-yt-icon" href="https://www.youtube.com/@gtxb">
          <i class="fab fa-fw fa-youtube" style="color:#bb0000;"></i>
        </a>
        <a class="mh-bl-icon" href="https://space.bilibili.com/10235737">
          <i class="fa-brands fa-bilibili" style="color: #23ADE5;"></i>
        </a>
        <!-- <a href="https://gtxb.github.io/" itemprop="sameAs" rel="nofollow noopener noreferrer me">
          <i class="fa-brands fa-weixin" style="color: #09B83E;"></i>
        </a> -->

        <ul class="visible-links">
          <!-- 切换中英文 -->
          <a {% if lingual == 'zh' %} class="highlight_lingual" {% endif %} href="{{ zh_url | relative_url }}">中文</a>
          <a {% if lingual == 'en' %} class="highlight_lingual" {% endif %} href="{{ en_url | relative_url }}">EN</a>

          {%- for link in site.data.navigation.main -%}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
        {% if site.search == true %}
        <button class="search__toggle" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <i class="fas fa-search"></i>
        </button>
        {% endif %}
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
