---
layout: splash
title: "GTXB|钢铁小包"
permalink: /home_en/
lingual: en
ref_id: home
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/header_image.jpg
  caption: "**GTXB**"
excerpt: "A cook"
recent_posts:
  - excerpt: "RECENT POSTS"
topics:
  - excerpt: "COLLECTIONS"
topics_row:
  - image_path: /assets/images/claypot-sausage-rice/teaser.jpg
    title: "CLAYPOT RICE"
    url: "/2025/05/30/claypot-claypot-rice-en"
    excerpt: "The basic claypot white rice and its variations"
  - image_path: /assets/images/lacto-basics/teaser.jpg
    title: "LACTO-FERMENTATION"
    url: "/2025/08/06/lacto-basics-en"
    excerpt: "Lacto-fermentation brings new flavors and texture to ingredients, it requires patience as it’s slower but its final product is worth waiting."
  - image_path: /assets/images/cp-fold-dumpling1/teaser.jpg
    title: "CHIENESE PASTRY COLLECTION"
    url: "/2024/07/16/cp-fold-dumpling1-en"
    excerpt: "Flour + Water, and then, the magic happens"
---
<!-- type center/left/right -->

{% include feature_row id="recent_posts" type="center" %}

{% assign lingual_posts = site.posts | where: "lingual", page.lingual %}
<div class="feature__wrapper">
  {% for p in lingual_posts limit:3 %}
    {% include card image_path=p.header.teaser title=p.title url=p.url excerpt=p.excerpt %}
  {% endfor %}
</div>

{% include feature_row id="topics" type="center" %}
{% include feature_row id="topics_row" %}
